body {
  background-color: blue;
}

.example {
  background-color: pink;
  height: 450px;
  width: 525px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;

  text-align: center;
}

.question-div {
  margin-bottom: 30px;
  margin-top: 15px;
}

.quiz-buttons-div {
  margin-top: 30px;
}
.quiz-buttons {
  width: 400px;
  border-radius: 5px;
  text-align: center;
  height: 50px;
}