/* body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 110vh;
    position: relative;
    overflow-x: hidden;
} */

body {
    font-family: sans-serif;
    margin: 0; 
    background-color: #f0f0f0;
    background-size: cover;
    background-position: center;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}


header {
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.header-title {
    font-size: 20px;
    font-weight: bold;
    color: #cd1f44;
    margin: 0;
    margin-right: 150px; 
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

nav a.leaderboard {
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px; 
}

nav a:hover {
    color: #ce2045;
}

.logout-button {
    background-color: #CE2045;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
    font-weight: bold;}

.logout-button:hover {
    background-color: #a40a0a9a;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
}

.table-container {
    width: 100%;
    max-width: 800px;
    margin: 60px auto; 
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background: #2b2b2b;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}

th, td {
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
}

thead {
    background: linear-gradient(90deg, #6a0202, #2b73d9);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #3a3a3a;
}


th {
    font-size: 18px;
}

td {
    color: #f1f1f1;
}



.feedback-link {
    text-align: center;
    margin-top: 20px; 
}

.feedback-button {
    display: inline-block;
    background-color: #CE2045;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
